go/src/github.com/*
!go/src/github.com
go/bin/*
!go/bin
go/src/app/vendor/*
!go/src/app/vendor
.idea/

**/debug
services
services
services
services
services
services
services
services
services
services
services
